

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="contenido">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container-fluid">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">
            

            <form action="/partida/add" method="POST">

                <div class="form-group">
                    <h6>Clave de Financiamiento</h6>

                    <select name="clave_financiamiento" class="mx-auto" id="selectcvu">
                        {{#each financiamientos }}

                        <option value={{clave_financiamiento}} required>{{clave_financiamiento}}</option>

                        {{/each}}

                    </select>

                </div>

                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Partida</th>
                            <th scope="col">Monto</th>

                        </tr>
                    </thead>
                    <tr>
                        <td><input type="text" id="clave_partida" name="clave_partida"
                                placeholder="partida presupuestal"></td>

                        <td><input type="text" id="monto_aprobado" name="monto_aprobado" placeholder="monto Aprobado">
                        </td>
                    </tr>

                </table>

                <p>
                    <input type="button" onclick="insRow('myTable')" value="agregar nuevo">
                    <td><input type="button" value="Eliminar Ultimo" onclick="deleteRow('myTable')"></td>
                </p>

                <div class="form-group">
                    <button class="btn btn-success btn-block"> Agregar</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    function deleteRow(id) {
        document.getE
        var ultimo = document.getElementById("myTable").rows.length - 1;
        if (ultimo > 1) {
            document.getElementById(id).deleteRow(ultimo);
        }
    }

    function insRow(id) {

        var filas = document.getElementById("myTable").rows.length;
        var x = document.getElementById(id).insertRow(filas);
        var y = x.insertCell(0);
        var z = x.insertCell(1);
        y.innerHTML = '<input  type="text" id="clave_partida" name="clave_partida" placeholder="Partida presupuestal">';
        z.innerHTML = '<input type="text" id="monto_aprobado" name="monto_aprobado" placeholder="monto Aprobado">';
    }
</script>