{{!-- AGREGAR INTEGRANTE --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="contenido">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container-fluid">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-100">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-30" align="center">

                <div align="right">

                    {{!-- Cabecera --}}
                    <div class="m-5" align="center">
                        <h1> Crear nuevo integrante. </h1>
                    </div><br>

                    {{!-- Campos para anadir integrante --}}
                    <form action="/integrantes/add" method="POST" class="pt-2">

                        <div class="form-inline justify-content-end">
                            <label for="cvu_tecnm" class="m-2"> No. CVU TecNM </label>
                            <input type="text" name="cvu_tecnm" class="form-control col-sm-2"
                                onkeypress="verificar(event)" autofocus required>
                            <label class="m-1" style="color: red;"> * </label>
                        </div><br>

                        <div class="form-inline justify-content-end">
                            <label for="nombre" class="m-2"> Nombre(s) </label>
                            <input type="text" name="nombre" class="form-control col-sm-4" onkeypress="verificar(event)"
                                required>
                            <label class="m-1" style="color: red;"> * </label>
                        </div><br>

                        <div class="form-inline justify-content-end">
                            <label for="apellido1" class="m-2"> Primer apellido </label>
                            <input type="text" name="apellido1" class="form-control col-sm-3"
                                onkeypress="verificar(event)" required>
                            <label class="m-1" style="color: red;"> * </label>
                        </div><br>

                        <div class="form-inline justify-content-end">
                            <label for="apellido2" class="m-2"> Segundo apellido </label>
                            <input type="text" name="apellido2" class="form-control col-sm-3"
                                onkeypress="verificar(event)">
                            <label class="m-1" style="color: white;"> * </label>
                        </div><br>

                        <div class="form-inline justify-content-end">
                            <label for="plantel_adscripcion" class="m-2"> Plantel de adscripcion</label>
                            <input type="text" name="plantel_adscripcion" class="form-control col-sm-4" required>
                            <label class="m-1" style="color: red;"> * </label>
                        </div><br>

                        <div class="form-inline justify-content-end">
                            <label for="email" class="m-2"> Email </label>
                            <input type="text" name="email" class="form-control col-sm-4" onkeypress="verificar(event)"
                                required>
                            <label class="m-1" style="color: red;"> * </label>
                        </div><br>

                        <label  style="color: red;"> * Campo obligatorio </label><br>

                        {{!-- Boton --}}
                        <div class="m-5" align="center">
                            <div class="form-group col-sm-6" align="center">
                                <button class="btn btn-outline-primary btn-block">
                                    <i class="fas fa-user-plus"></i>&emsp;Crear integrante
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function verificar(event) {

        var x = event.charCode;
        if (x == 32) {
            event.preventDefault();
        }
    }
</script>