<div class="main" id="contenido">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="/convocatoria/add" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombre_convocatoria"
                                    placeholder="Nombre de la convocatoria" autofocus required>

                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" name="anio" placeholder="Año" id="año"
                                    pattern="[0-9]{4}" required>


                            </div>

                            <div class="form-group">
                                <h6>Fecha y hora de cierre</h6>
                                <input type="date" name="fecha" id="fechaC" required />

                            </div>



                            <div class="form-group">
                                <button class="btn btn-success btn-block"> Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    window.onload = load;

    var fecha = new Date();
    var ano = fecha.getFullYear();

    function load() {
        var year = document.getElementById("año");



        year.value = ano;


    }

</script>