{{!-- LIDER DE PROYECTO -> AGREGAR PROYECTO --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="contenido">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container-fluid">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-75" align="center">

                <div class="m-5" align="center">
                    <h1> Agregar proyecto de investigacion. </h1>
                </div>

                <form action="/proyecto/add" method="POST" class="pt-2">

                    <div class="form-inline justify-content-end">
                        <label for="titulo" class="m-2"> Nombre del proyecto </label>
                        <input type="text" class="form-control col-sm-9" name="titulo" autofocus required>
                    </div><br>

                    <div class="form-inline justify-content-end">
                        <label for="modalidad" class="m-2"> Modalidad </label>
                        <input type="text" class="form-control col-sm-5" name="modalidad" required>
                    </div><br>

                    <div class="form-inline justify-content-end">
                        <label class="m-2" for="fecha_sometido"> Fecha de sometido </label>
                        <input class="form-control" type="date" name="fecha_sometido" required />
                    </div><br>

                    <div class="form-inline justify-content-end">
                        <label class="m-2" for="fecha_dictamen"> Fecha de dictaminado </label>
                            <input class="form-control" type="date" name="fecha_dictamen" required />
                    </div><br>

                    <div class="form-inline justify-content-end">
                        <label for="clave_financiamiento" class="m-2"> Clave de financiamiento </label>
                        <input type="text" class="form-control" name="clave_financiamiento" required>
                    </div

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block col-sm-4 mt-5"><i
                                class="fas fa-plus"></i>&ensp;Agregar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>