{{!-- <!--<div class="container p-4"> !-->
<div class="main" id="contenido">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/proyecto/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titulo" placeholder="Nombre del Proyecto"
                                autofocus required>

                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" name="modalidad" placeholder="modalidad" required>

                        </div>

                        <div class="form-group">
                            <h6>fecha sometido</h6>
                            <input type="date" name="fecha_sometido" required />

                        </div>

                        <div class="form-group">
                            <h6>fecha dictaminado</h6>
                            <input type="date" name="fecha_dictamen" required />

                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" name="clave_financiamiento"
                                placeholder="clave de financiamiento" required>

                        </div>

                        <div class="form-group">
                            <h6>convocatoria </h6>

                            <select name="id_convocatoria" class="mx-auto" id="select_convocatoria" required>
                                {{#each convocatorias }}

                                <option aria-valuemax="50" value={{id_convocatoria}} required>{{nombre_convocatoria}}
                                </option>

                                {{/each}}

                            </select>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}

{{!-- Aqui comienza mi disenio --}}

<div class="main">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="mx-auto">

                <div class="m-5" align="center">
                    <h1> Agregar proyecto de investigacion. </h1>
                    <small class="text-muted">
                        Departamento de Estudios de Posgrado e Investigacion.
                    </small>
                </div>

                <form action="/proyecto/add" method="POST">

                    <div class="form-group">
                        <label for="titulo"> Nombre del proyecto </label>
                        <input type="text" class="form-control" name="titulo" autofocus required>
                    </div>

                    <div class="form-group">
                        <label for="modalidad"> Modalidad </label>
                        <input type="text" class="form-control" name="modalidad" required>
                    </div><br>

                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="fecha_sometido"> Fecha de sometido </label>
                        <div class="col-8">
                            <input class="form-control" type="date" name="fecha_sometido" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="fecha_dictamen"> Fecha de dictaminado </label>
                        <div class="col-8">
                            <input class="form-control" type="date" name="fecha_dictamen" required />
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="clave_financiamiento"> Clave de financiamiento </label>
                        <input type="text" class="form-control" name="clave_financiamiento" required>
                    </div><br>

                    <div align="center">
                        <h3>
                            <small class="text-muted">
                                Seleccione una convocatoria.
                            </small>
                        </h3>
                    </div>

                    <div class="form-group">
                        <select name="id_convocatoria" class="form-control" id="select_convocatoria" required>

                            {{#each convocatorias }}
                            <option aria-valuemax="50" value={{id_convocatoria}} required>{{nombre_convocatoria}}</option>
                            {{/each}}

                        </select>
                    </div><br><br>

                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block"><i class="fas fa-plus"></i>&ensp;Agregar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>