{{!-- LIDER DE PROYECTO -> AGREGAR PROYECTO --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-90">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-100" align="center" id="contenedorprincipal">

                <div class="w-100 mb-5">
                    <h1> Agregar Proyecto Historico </h1>
                </div><br><br>

                <form action="/proyecto/historico/add" method="POST" class="w-100" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-sm-6" align="right">
                            <label for="clave_financiamiento" class="m-2"> Clave de financiamiento </label>
                        </div>
                        <div class="col-sm-6" align="left">
                            <input type="text" class="form-control col-sm-4" placeholder="XXXX.XX-X" id="clave_financiamiento" onkeypress="verificarClave(event)" name="clave_financiamiento" required>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-sm-6" align="right">
                            <label for="titulo" class="m-2"> Nombre del proyecto </label>
                        </div>
                        <div class="col-sm-6" align="left">
                            <input type="text" id="titulo" placeholder="Titulo" class="form-control col-sm-10" name="titulo" onkeypress="validarTitulo(event)" required>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6" align="right">
                            <label for="titulo" class="m-2"> Responsable</label>
                        </div>
                        <div class="col-sm-6" align="left">
                            <input type="text" id="responsable" placeholder="Nombre Completo" onkeypress="validarResponsable(event)" class="form-control col-sm-10" name="responsable" required>
                        </div>
                    </div><br>


                    <div class="row">
                        <div class="col-sm-6" align="right">
                            <label for="titulo" class="m-2"> Año</label>
                        </div>
                        <div class="col-sm-6" align="left">
                            <select name="anio" id="ano">
                                <option hidden selected> Seleccione el año </option>
                            </select>

                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-12" align="left">

                            <div class="form-group">
                                <input type="file" id="archivo" title="solo se pueden cargar 1 PDF" name="archivo"
                                    accept=".pdf" max="1" min="1" class="form-control-file" required>
                            </div>

                        </div>
                    </div><br><br>





                    <div class="form-group">
                        <button class="btn btn-secondary btn-block col-sm-4 mt-5" onclick="confirmar()">
                            <i class="fas fa-plus"></i>&ensp;Agregar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>
<script>
    function ComboAno() {
        var n = (new Date()).getFullYear()
        var select = document.getElementById("ano");
        for (var i = 2019; i >= 1990; i--)select.options.add(new Option(i, i));
    };
    window.onload = ComboAno;



    function confirmar(){

    var r = confirm(us + "  \n ¿sus Datos son correctos para agregar?");
    if (r != true) {
    

    } 


    }
     function verificarClave(event) {

        var a = document.getElementById("clave_financiamiento");
        var b = a.value;
        if (b.length < 9) {
            if ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) ||
                (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 241) || (event.charCode == 209) ||
                (event.charCode == 45) || (event.charCode == 46)) {
                a.value = (b + String.fromCharCode(event.charCode)).toUpperCase();

            }
        }
        event.preventDefault();
    }


    function validarTitulo(event) {
        var a = document.getElementById("titulo");
        var b = a.value;
    
        //console.log(c);
       
            if ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) ||(event.charCode >= 97 && event.charCode <= 122)|| (event.charCode == 241) || (event.charCode == 209) || (event.charCode == 32)) {
                 a.value = (b + String.fromCharCode(event.charCode)); 

            }
        
        event.preventDefault();

    }


     function validarResponsable(event) {
        var a = document.getElementById("responsable");
        var b = a.value;
        var c = contarEspacios(b);
        //console.log(c);
        if (b.length < 70) {
            if ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 241) || (event.charCode == 209) || (event.charCode == 32)) {
                if (c >= 4 && event.charCode == 32) {
                    event.preventDefault();
                } else { a.value = (b + String.fromCharCode(event.charCode)).toUpperCase(); }

            }
        }
        event.preventDefault();

    }
    function contarEspacios(valor) {
        var contador = 0;
        for (i = 0; i < valor.length; i++) {
            if (valor[i] == " ") contador++;

        }
        return contador;

    }
</script>