@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
--line-border-fill:#2cab00;
--line-border-empty:#bdbdbd;
--line-border-atrasado:#ff5c2a;
--line-border-terminado:#003af7;
--line-border-negro:#020613;

}
*{box-sizing: border-box;}


.fas.fa-folder-open{
font-size: 1.8rem;
color: var(--line-border-negro);
}
.far.fa-file-alt{
    font-size: 1.8rem;
    color: var(--line-border-negro);;
    }
.fas.fa-list-ul{
font-size: 1.6rem;
color: var(--line-border-negro);;

}
.fas.fa-check{
    font-size: 1.8rem;
    color: var(--line-border-negro);;
    }
    .far.fa-check-circle{
        font-size: 2.5rem;
        color: var(--line-border-negro);;
        }
.far.fa-flag{
        font-size: 1.8rem;
        color:var(--line-border-negro);;
        }
.containerx{
    text-align: center;

}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 700px;

    }
    .progress-container::before{
        content: "";
        background-color: var(--line-border-empty);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        z-index: -1;
        transition: 0.4s ease;
        

    }
    .progress{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 4px;
        width: 0;
        z-index: -1;
        transition: 0.4s ease;


    }
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}
.circle.active{
    border-color: var(--line-border-fill);

}
.circle.atrasado{
    border-color: var(--line-border-atrasado);

}
.circle.terminado{
    border-color: var(--line-border-terminado);

}
.progress.active{
    background-color: var(--line-border-fill);
}
.progress.atrasado{
    background-color: var(--line-border-atrasado);
}
.progress.terminado{
    background-color: var(--line-border-terminado);
}