{{!-- AGREGAR SUBPARTIDA --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="contenido">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container-fluid">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-25" align="center">

                <div class="m-5" align="center">
                    <h1> Agregar subpartida. </h1>
                </div>

                {{!-- Comienza el formulario --}}
                <form action="/subpartida/add" method="POST">

                    <div class="form-inline justify-content-end">
                        <label for="clave_partida" class="m-2"> Clave de la partida </label>
                        <input type="text" name="clave_partida" class="form-control col-sm-4" id="" required autofocus>
                    </div><br><br>


                    <div align="center">
                        <h3>
                            <small class="text-muted">
                                Agregar subpartidas.
                            </small>
                        </h3>
                    </div><br>

                    <div class="form-group">
                        {{!-- Boton Agregar --}}
                        <input class="btn btn-outline-success btn-sm" type="button" title="Agregar Producto" Value="+"
                            onclick="insRow('myTable')">
                        <!-- Boton Borrar -->
                        <input class="btn btn-outline-danger btn-sm" type="button" title="Borrar Producto" Value="-"
                            onclick="deleteRow('myTable')">
                    </div><br><br>

                    {{!-- Comienza la tabla de subpartidas automatica --}}
                    <table id="myTable" class="table table-sm table-bordered table-striped table-hover">

                        {{!-- Cabecera de la tabla --}}
                        <thead>
                            <tr>
                                <th scope="col">Clave subpartida</th>
                                <th scope="col">Descripcion</th>
                            </tr>
                        </thead>

                        {{!-- Campos de la tabla --}}
                        <tr>
                            <td><input type="text" id="clave_subpartida" class="form-control" name="clave_subpartida"
                                    placeholder="Subpartida" required></td>
                            <td><input type="text" id="descripcion" class="form-control" name="descripcion"
                                    placeholder="Descripcion " required></td>
                        </tr>

                    </table><br><br>

                    <div class="mx-auto">
                        <button class="btn btn-outline-primary btn-block col-sm-4"><i
                                class="fas fa-plus"></i>&ensp;Agregar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteRow(id) {
        document.getE
        var ultimo = document.getElementById("myTable").rows.length - 1;
        if (ultimo > 1) {
            document.getElementById(id).deleteRow(ultimo);
        }
    }

    function insRow(id) {
        var filas = document.getElementById("myTable").rows.length;
        var x = document.getElementById(id).insertRow(filas);
        var y = x.insertCell(0);
        var z = x.insertCell(1);

        y.innerHTML = '<input type="text" id="clave_subpartida" class="form-control" name="clave_subpartida" placeholder="Subpartida" required>';
        z.innerHTML = '<input type="text" id="descripcion" class="form-control" name="descripcion" placeholder="Descripcion " required>';
    }
</script>