{{!-- MENSAJES -> alerta y success --}}

{{!-- Media queries --}}
<style>

    @media (min-width: 576px) {
        #sucessmessage {
            width: 80% !important;
        }
    }

    @media (min-width: 768px) {
        #sucessmessage {
            width: 50% !important;
        }
    }

    @media (min-width: 576px) {
        #alertmessage {
            width: 80% !important;
        }
    }

    @media (min-width: 768px) {
        #alertmessage {
            width: 50% !important;
        }
    }

</style>

{{#if success}}
<div class="container-fluid justify-content-center pt-3 w-100" role="alert" id="sucessmessage">
    <div class="mx-auto mb-1">
        <div class="alert alert-info alert-dismissible fade show ">

            {{success}}
            <button type="button " class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    </div>
</div>
{{/if}}


{{#if message}}

<div class="container-fluid justify-content-center pt-3 w-50" role="alert" id="alertmessage">
    <div class="mx-auto">
        <div class="alert alert-danger alert-dismissible fade show ">

            {{message}}
            <button type="button " class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    </div>
</div>

{{/if}}


{{#if menu}}


{{/if}}