{{!-- FINANCIAMIENTO --}}

{{!-- Div que permite la barra izquierda --}}
<div class="main" id="principal">

    {{!-- div que permite ocupar el 100% de la pantalla --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-100" align="center" id="contenedorprincipal">


                <div class="w-100">
                    <h1> Agregar Financiamiento. </h1>
                </div><br><br>

                <div class="d-flex justify-content-center w-100">

                    <form action="/financiamiento/add" method="POST" class="w-100">

                        {{!-- GRID --}}
                        <div class="container">

                            {{!--primera fila --}}
                            <div class="row">
                                <div class="col-sm-6" align="right">
                                    <label for="clave_financiamiento" class="m-2"> Clave del financiamiento </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input type="text" id="clave_financiamiento" class="form-control col-sm-6" name="clave_financiamiento" title="clave de financiamiento  con formato de 9 caracteres ej. 4738.58-P"
                                      placeholder="0000.00-X"  pattern="[A-Z0-9.-]{9}" onkeypress="verificarClave(event)" autofocus required>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-sm-6" align="right">
                                    <label class="m-2" for="vigencia_inicio"> Fecha de inicio </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input class="form-control col-sm-6" type="date" name="vigencia_inicio" id="inicio" min="2020-01-01"
                                        onchange="cambiofecha()" required />
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-sm-6" align="right">
                                    <label class="m-2" for="vigencia_fin"> Fecha de expiracion </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input class="form-control col-sm-6" type="text" name="vigencia_fin" id="fin"
                                        readonly />
                                </div>
                            </div><br>

                        </div>


                        <select hidden id="clave_partida">
                            {{#each partidas}}
                            <option value="{{clave_partida}}">{{clave_partida}}</option>
                            {{/each}}
                        </select>

                        <br><br>

                        <div align="center">
                            <h3>
                                <small class="text-muted">
                                    Partidas para el financiamiento.
                                </small>
                            </h3>
                        </div><br>

                        <div align="center">
                            <div class="justify-content-center">

                                <!-- Productos -->
                                <div class="form-group" align="center">
                                    <!-- Boton Agregar -->
                                    <label for="">Agregar</label>
                                    <input class="btn btn-outline-success btn-sm" type="button" title="Agregar Producto"
                                        value="+" onclick="agregar()">

                                    <!-- Boton Borrar -->
                                    <label for="">Borrar</label>
                                    <input class="btn btn-outline-danger btn-sm " type="button" title="Borrar Producto"
                                        value="-" onclick="borrar()">
                                    <br><br>

                                    <!-- Div donde se añadiran los Selects -->
                                    <div class="d-flex flex-column align-items-center w-100" id="productos"></div>
                                    <br><br>

                                    <div class="form-group">
                                        <button id="botonenviar" class="btn btn-secondary btn-block col-sm-4"
                                            onclick="leer()" disabled><i
                                                class="far fa-money-bill-alt"></i>&ensp;Agregar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>

{{!-- Validaciones con JS --}}
<script language="JavaScript">
    //Creacion de Variable incremental
    var incremento = 0;
    //Llenando el arreglo que contendrá los "Options" de nuestro "Select"
    var options = [
    ];
    //Lo que se hará cuando se presione el boton de Agregar
    function cargarPartidas() {
        var inicio = document.getElementById('clave_partida');
        for (i = 0; i < inicio.length; i++) {
            options.push(inicio.options[i].value);
        }
        //console.log(inicio.length);
    }
    function removeItemFromArr(arr, item) {
        var i = arr.indexOf(item);
        if (i !== -1) {
            arr.splice(i, 1);
        }
    }
    function agregar(obj) {
        var inicio = document.getElementById('clave_partida');
        if (incremento == 0) {
            cargarPartidas();
        }
        if (incremento < inicio.length) {
            var boton = document.getElementById('botonenviar');
            boton.removeAttribute("disabled");
            incremento++;
            //Obteniendo el Div "productos"
            bloque = document.getElementById('productos');
            elemento = document.createElement('label');
            elemento.innerHTML = "Partida " + incremento + ":";
            bloque.appendChild(elemento);
            //Creando el Select que irá dentro del Div "productos"
            elemento = document.createElement('select');
            elemento.setAttribute("class", "custom-select custom-select-sm-1 mt-1 mb-2 col-sm-5");
            elemento.setAttribute("name", "clave_partida")
            elemento.setAttribute("required", "true");;
            elemento.id = 'select' + incremento;
            bloque.appendChild(elemento);
            //console.log(incremento);
            if (incremento > 1) {
                for (i = 1; i < incremento; i++) {
                    var combo = document.getElementById("select" + i);
                    var texto = combo.options[combo.selectedIndex].value;
                    combo.setAttribute("disabled", "true");
                    //combo.setAttribute("readonly", "true");
                    removeItemFromArr(options, texto);
                }
            }
            //Agregando nuestros "Options" a nuestro "Select"
            for (var i = 0; i < options.length; i++) {
                var option = document.createElement("option");
                option.value = options[i];
                option.text = options[i];
                elemento.appendChild(option);
            }

            bloque = document.getElementById('productos');
            elemento = document.createElement('label');
            elemento.innerHTML = "Monto: $$";
            bloque.appendChild(elemento);

            elemento = document.createElement('input');
            elemento.setAttribute("type","text");
            elemento.setAttribute("class", "form-control col-sm-5 mb-5");
            elemento.setAttribute("name", "monto_aprobado");
            elemento.setAttribute("placeholder", "monto aprobado");
            elemento.setAttribute("pattern", "[0-9]+");
            elemento.setAttribute("required", "true");
            elemento.setAttribute("onkeypress","validarNumeros(event)");
            //elemento.removeAttribute("disabled");
            elemento.id = 'text' + incremento;
            bloque.appendChild(elemento);
        }
    }
    //Lo que se hará cuando se presione el boton de Borrar
    function borrar(obj) {
        //console.log(options);
        var combo = document.getElementById("select" + (incremento - 1));
        var texto = combo.options[combo.selectedIndex].value;
        combo.removeAttribute("disabled");
        //console.log(texto);
        options.push(texto);
        //console.log(options);
        incremento = incremento - 1;
        bloque = document.getElementById('productos');
        bloque.removeChild(bloque.lastChild);
        bloque.removeChild(bloque.lastChild);
        bloque.removeChild(bloque.lastChild);
        bloque.removeChild(bloque.lastChild);
    }
    function leer() {
        for (i = 1; i <= incremento; i++) {
            x = document.getElementById('select' + i);
            x.removeAttribute("disabled");
        }
    }
    /*
        document.getElementById("inicio").onchange = function () {
            var input = document.getElementById("fin");
            input.min = this.value;
        }
        */
    function verificar(event) {
        var x = event.charCode;
        if (x == 32) {
            event.preventDefault();
        }
    }


     function verificarClave(event) {
         
        var a = document.getElementById("clave_financiamiento");
        var b = a.value;
        if (b.length < 9) {
            if ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) ||
             (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 241) || (event.charCode == 209)||
             (event.charCode==45) ||(event.charCode==46)) {
                a.value = (b + String.fromCharCode(event.charCode)).toUpperCase();

            }
        }
        event.preventDefault();
    }

    function cambiofecha() {
        var inicial = document.getElementById("inicio");
        //console.log(inicial);
        var finicial = inicial.value;
        var start = new Date(finicial);
        start.setFullYear(start.getFullYear() + 1);
        var startf = start.toISOString().slice(0, 10).replace(/-/g, "/");
        
        var final = startf.substring(8, 10) + "/" + startf.substring(5, 7) + "/" + startf.substring(0, 4);
        //console.log(final);
        document.getElementById("fin").value = final;
    }


 function validarNumeros(event){
      if(event.charCode<=57 && event.charCode>=48){}
      else{event.preventDefault();}

    }
</script>
<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>