<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/financiamiento/add" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="clave_financiamiento" placeholder="clave de financiamiento" autofocus >

                    </div>
                   
                   
                    <div class="form-group">
                        FECHA DE INICIO
        <input type="date" name="vigencia_inicio" min="2020-01-01" max="2020-12-31" step="1" />
            <!-- Campo de entrada de hora -->
          
        
                    </div>
                   <div class="form-group">
                        FECHA DE EXPIRACION
                        <script> var date=new Date();</script>
        <input type="date" name="vigencia_fin" min="date" max="2020-12-31" step="1" />
            <!-- Campo de entrada de hora -->
          
        
                    </div>

                
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 