{{!-- FINANCIAMIENTO --}}

{{!-- Div que permite la barra izquierda --}}
<div class="main" id="principal">

    {{!-- div que permite ocupar el 100% de la pantalla --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-100" align="center" id="contenedorprincipal">


                <div class="w-100">
                    <h1> Agregar financiamiento. </h1>
                </div><br><br>

                <div class="d-flex justify-content-center w-100">

                    <form action="/financiamiento/add" method="POST" class="w-100">

                        {{!-- GRID --}}
                        <div class="container">

                            {{!--primera fila --}}
                            <div class="row">
                                <div class="col-sm-6" align="right">
                                    <label for="clave_financiamiento" class="m-2"> Clave del financiamiento </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input type="text" id="clave_financiamiento" class="form-control col-sm-6"
                                        name="clave_financiamiento"
                                        title="clave de financiamiento  con formato de 9 caracteres ej. 4738.58-P"
                                        placeholder="0000.00-X" pattern="[A-Z0-9.-]{9}"
                                        onkeypress="verificarClave(event)" autofocus required>
                                </div>
                            </div><br>

                            <div class="row">
                                <label for="" class="message">¡ Elija bien la fecha de inicio recuerde que rige al proyecto a crear por el Responsable !</label>
                                
                                <br>
                                <div class="col-sm-6" align="right">
                                    <label class="m-2" for="vigencia_inicio"> Fecha de inicio </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input class="form-control col-sm-6" type="date" name="vigencia_inicio" id="inicio"
                                        min="2020-01-01" onchange="cambiofecha()" required />
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-sm-6" align="right">
                                    <label class="m-2" for="vigencia_fin"> Fecha de expiracion </label>
                                </div>
                                <div class="col-sm-6" align="left">
                                    <input class="form-control col-sm-6" type="text" name="vigencia_fin" id="fin"
                                        readonly />
                                </div>
                            </div><br>

                        </div>


                        <select hidden  id="partidas">
                            {{#each partidas}}
                            <option value="{{clave_partida}}">{{clave_partida}}</option>
                            {{/each}}
                        </select>


                        <div class="form-group">
                            <label for="state_id" class="control-label"> Añadir Partidas Aprobadas</label><br>

                            <!-- Boton Agregar -->
                            <label for="">Agregar</label>
                            <input class="btn btn-outline-success btn-sm" type="button" title="Agregar Producto"
                                Value="+" onclick="agregar('elementos')">
                            <!-- Boton Borrar -->
                            <label for="">Borrar</label>
                            <input id="eliminar" class="btn btn-outline-danger btn-sm" type="button"
                                title="Borrar Producto" Value="-" disabled onclick="borrar('elementos')">
                            <br>
                            <br>
                        </div>

                        <table id="elementos" class="table-responsive-sm table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> Partida </th>
                                    <th scope="col"> Monto MNX/0 </th>
                                </tr>
                            </thead>
                        </table><br><br><br><br>

                        <div class="form-group">
                            <button id="botonenviar" class="btn btn-secondary btn-block col-sm-4" onclick="activar()"
                                disabled>
                                <i class="fas fa-plus"></i>&ensp;Agregar</button>
                        </div>

                </div>
            </div>
        </div>

        </form>
    </div>
</div>


{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>

<script>
    function verificarClave(event) {

        var a = document.getElementById("clave_financiamiento");
        var b = a.value;
        if (b.length < 9) {
            if ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) ||
                (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 241) || (event.charCode == 209) ||
                (event.charCode == 45) || (event.charCode == 46)) {
                a.value = (b + String.fromCharCode(event.charCode)).toUpperCase();

            }
        }
        event.preventDefault();
    }
    function cambiofecha() {
        var inicial = document.getElementById("inicio");
        console.log(inicial);
        var finicial = inicial.value;
        var start = new Date(finicial);
        start.setFullYear(start.getFullYear() + 1);
        var startf = start.toISOString().slice(0, 10).replace(/-/g, "/");
        for (i = 0; i < startf; i++) {
            console.log(startf[i]);
        }
        var final = startf.substring(8, 10) + "/" + startf.substring(5, 7) + "/" + startf.substring(0, 4);
        console.log(final);
        document.getElementById("fin").value = final;
    }

    var options = [

    ];
    var boton = document.getElementById("botonenviar");
    var boton1 = document.getElementById("eliminar");
    var inicio = document.getElementById('partidas');

    var incremento = 0;
    var validacion = true;

    function cargarEntregables() {
        if (incremento == 0 && options.length == 0) {
            for (i = 0; i < inicio.length; i++) {
                options.push([inicio.options[i].value, inicio.options[i].text]);
            }

        }

    }

    function removeItemFromArr(arr, item) {
        var valor = -1;
        for (i = 0; i < arr.length; i++) {
            if (arr[i][0] == item[0] && arr[i][1] == item[1]) {

                // console.log(i);
                valor = i;
                break;

            }

        }
        if (valor !== -1) {
            arr.splice(valor, 1);
        }
        //  console.log(arr);
    }

    function borrar(id) {

        console.log("antes de borrar", options.length);
        var ultimo = document.getElementById("elementos").rows.length - 1;

        if (ultimo > 1) {

            incremento--;
            document.getElementById(id).deleteRow(ultimo);
            var a_s = document.getElementById("partida" + incremento);
            var texto = [a_s.options[a_s.selectedIndex].value, a_s.options[a_s.selectedIndex].text];
            options.push(texto);
            a_s.removeAttribute("disabled");

        }
        if (ultimo == 1) {
            incremento--;
            document.getElementById(id).deleteRow(ultimo);
            boton.setAttribute("disabled", "true");
            boton1.setAttribute("disabled", "true");

        }
        console.log("despues de borrar", options.length);

    }

    function añadirNuevo(id) {
        console.log("antes de añadir", options.length);
        if (incremento == 1) {

            var filas = document.getElementById("elementos").rows.length;
            var x = document.getElementById(id).insertRow(filas);
            var y = x.insertCell(0);
            var z = x.insertCell(1);

            var id_e = "partida" + incremento;
            var can = "monto_aprobado" + incremento;

            var opciones = "";
            for (var i = 0; i < options.length; i++) {
                //console.log(options[i][1],i);
                opciones += "<option value=" + options[i][0] + ">" + options[i][1] + "</option>";
            }

            y.innerHTML = "<td> <select  " + "class=" + "custom-select custom-select-sm-1 mb-3 " + "  name=" + " clave_partida " + "id=" + id_e + " required>" + opciones + "</select></td>";

            z.innerHTML = "<td><input type=" + "text" + " class=" + "form-control" + " name=" + " monto_aprobado " + "id= " + can + "  required></td>";

            boton.removeAttribute("disabled");
            boton1.removeAttribute("disabled");
        }

        if (incremento > 1) {

            //validar anterior tenga datos

            var cant_a = document.getElementById("monto_aprobado" + (incremento - 1)).value;
            if (cant_a === "") {
                incremento--;
                alert("Rellene los campos");
            } else {

                var filas = document.getElementById("elementos").rows.length;
                var x = document.getElementById(id).insertRow(filas);
                var y = x.insertCell(0);
                var z = x.insertCell(1);

                var id_e = "partida" + incremento;
                var can = "monto_aprobado" + incremento;

                var idAnterior = "partida" + (incremento - 1);
                selecAnterior = document.getElementById(idAnterior);

                var texto = [selecAnterior.options[selecAnterior.selectedIndex].value, selecAnterior.options[selecAnterior.selectedIndex].text];

                removeItemFromArr(options, texto);
                selecAnterior.setAttribute("disabled", "true");

                var opciones = "";
                for (var i = 0; i < options.length; i++) {
                    // console.log(options[i][1],i);
                    opciones += "<option value=" + options[i][0] + ">" + options[i][1] + "</option>";
                }

                y.innerHTML = "<td> <select  " + "class=" + "custom-select custom-select-sm-1 mb-3 " + "  name=" + " clave_partida " + "id=" + id_e + " required>" + opciones + "</select></td>";

                z.innerHTML = "<td><input type=" + "text"  + " class=" + "form-control" + " name=" + " monto_aprobado " + "id= " + can + "  required></td>";

            }
        }
        document.getElementById(can).setAttribute("onkeypress", "validarNumeros(event)");
        console.log("despues de añadir", options.length);
    }

    function agregar(id) {

        cargarEntregables();
        //console.log(options);
        //console.log(incremento);
        if (incremento < inicio.length) {

            incremento++;

            añadirNuevo(id);
        }

    }

    function activar() {
        console.log(incremento);
        for (i = 1; i <= incremento; i++) {
            var a = document.getElementById("partida" + i);
            var b = document.getElementById("monto_aprobado" + i);

            a.removeAttribute("disabled");
            b.removeAttribute("disabled");

        }

    }


    function validarNumeros(event) {
        if (event.charCode <= 57 && event.charCode >= 48) { }
        else { event.preventDefault(); }

    }

</script>