{{!-- EDITAR FINANCIAMIENTO --}}

{{!-- Este div ajusta el contenido para que no interfiera con la barra. --}}
<div class="main" id="principal">

    {{!-- Este div permite ocupar el 100% del espacio vertical disponible --}}
    <div class="container w-100">

        {{!-- div centra horizontalmente el contenido --}}
        <div class="d-flex justify-content-center vh-80">

            {{!-- div centra verticalmente el contenido --}}
            <div class="my-auto w-30" align="center" id="contenedorprincipal">

                {{!-- Cabecera --}}
                <div class="w-100 mb-5">
                    <h1> Detalles del financiamiento. </h1>
                </div><br><br>

                <form action="/financiamiento/edit/{{financiamiento.clave_financiamiento}}" method="POST">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label for="clave_financiamiento" class="m-2"> Clave de financiamiento </label>
                            </div>
                            <div class="col-sm-6" align="left">
                                <input type="text" class="form-control col-sm-6" name="clave_financiamiento"
                                    value="{{financiamiento.clave_financiamiento}}" disabled>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label class="m-2" for="vigencia_inicio"> Fecha de inicio </label>

                            </div>
                            <div class="col-sm-6" align="left">
                                <input class="form-control col-sm-6" id="inicio" type="date" value="{{financiamiento.vigencia_inicio }}" min="2020-01-01"
                                  onchange="cambiofecha()"  name="vigencia_inicio" required />
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-6" align="right">
                                <label class="m-2" for="vigencia_fin"> Fecha de expiracion </label>

                            </div>
                            <div class="col-sm-6" align="left">
                                <input class="form-control col-sm-6" id="fin" type="date" value="{{financiamiento.vigencia_fin}}"
                                    name="vigencia_fin" required readonly />
                            </div>
                        </div><br>
                    </div><br><br>


                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block col-sm-4"><i
                                class="fas fa-edit"></i>&ensp;Guardar
                            cambios</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    @media (min-width: 768px) {
        #contenedorprincipal {
            width: 75% !important;
        }
    }

    @media (max-width: 767px) {
        #principal {
            margin-left: 0px !important;
        }
    }
</style>

<script>
   function cambiofecha() {
        var inicial = document.getElementById("inicio");
 //console.log(inicial);
        var finicial = inicial.value;
        var start = new Date(finicial);
        start.setFullYear(start.getFullYear() + 1);
        var startf = start.toISOString().slice(0, 10).replace(/-/g, "/");
        
        var final = startf.substring(0, 4) + "-" + startf.substring(5, 7) + "-" + startf.substring(8, 10);
       // console.log(final);
        document.getElementById("fin").value = final;
    }
</script>