
<h1>
  <div class="m-5" align="center">
    Plataforma de gestion de proyectos de investigacion. <br />
    <small class="text-muted">
      Departamento de Estudios de Posgrado e Investigacion.
    </small>

    <br><br><br>
    <img src="images/logoito.png" height="300rem">
    <br><br><br>

  </div>
</h1>

