<div class="card-body">
    <h3>Gestion DEPI </h3>
    <h6 class="mx-auto">
        Desarrollo de una aplicación web para la gestión de proyectos de la 
        División de Estudios de Posgrado e Investigación del Instituto Tecnológico de Oaxaca.
    </h6>
</div>