
<div class="main">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="mx-auto">

                <div class="m-5" align="center">
                  <br>
                      <h2 >Area de trabajo del proyecto:</h2>
                    <h4> {{proyecto.titulo}} </h4>
                </div>
            </div>
        </div>
    </div>
</div>
