{{!-- LOGIN. --}}

{{!-- Contenedor principal del tamanio de la pantalla. --}}
<div class="container-fluid">

    {{!-- Flex que permite centrar horizontalmente. --}}
    <div class="d-flex justify-content-center vh-90">

        {{!-- div para centar verticalmente y anchar los inputs de inicio de sesion --}}
        <div class="form-group w-100 my-auto" id="prueba">

            <!-- logotipo del ITO -->
            <div class="mb-5" align="center">
                <img src="images/logoito.png" height="100rem">
            </div>

            {{!-- Campos para el inicio de sesion --}}
            <form action="/signin" method="POST">

                <div class="col" align="left">

                    <div class="form-group">
                        <label for="username"> Nombre de usuario </label>
                        <input type="email" id="username" name="username" class="form-control"
                            style="text-align:center;" title="entrada de dato email ej example@dominio.com"
                            onkeypress="verificar(event)" required>
                    </div>

                    <div class="form-group">
                        <label for="password"> Contraseña </label>
                        <input type="password" style="text-align:center;"
                            title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de una letra mayúscula o minúscula, o un dígito, mayor a 6 caracteres"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" name="password" class="form-control"
                            required>
                    </div>

                    <div class="form-group mt-5">
                        <button class="btn btn-outline-primary btn-block" style="width:;"><i
                                class="fas fa-sign-in-alt"></i>&ensp;Iniciar sesion</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

{{!-- Media queries --}}
<style>
    
    /*Cambios de ancho para los inputs del inicio de sesion*/

    @media (min-width: 576px) {
        #prueba {
            width: 50% !important;
        }
    }

    @media (min-width: 768px) {
        #prueba {
            width: 30% !important;
        }
    }
</style>

{{!-- Validaciones con JS --}}
<script>
    function verificar(event) {

        var x = event.charCode;

        if (x == 32) {
            event.preventDefault();
        }
    }
</script>