

<div class="container-fluid">


    {{!-- Flex principal --}}
    <div class="d-flex justify-content-center m-5 p-5">

        {{!-- Form-group para inicio de sesion --}}
        <div class="form-group w-25" align="center">

            <!-- logotipo del ITO -->
            <div>
                <img src="images/logoito.png" height="100rem">
                <br><br><br><br>
            </div>

            {{!-- Campos para el inicio de sesion --}}
            <form action="/signin" method="POST">

                <div class="col" align="left">

                    <div class="form-group">
                        <label for="username"> Nombre de usuario </label>
                        <input type="text" name="username" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="password"> Contraseña </label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <br><br>
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block">Iniciar sesion</button>
                    </div>

                </div>

            </form>
        </div>
    </div>