{{!-- Aqui comienza mi disenio --}}
<div class="main" id="contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto">

                {{!-- Cabecera --}}
                <div class="m-5" align="center">
                    <h1> Crear cuenta a integrante. </h1>
                    <small class="text-muted">
                        Departamento de Estudios de Posgrado e Investigacion.
                    </small>
                </div>

                <div align="center">
                    <h3>
                        <small class="text-muted">
                            Lista de integrantes registrados.
                        </small>
                    </h3>
                </div>

                {{!-- Comienza el formulario para crear cuentas --}}
                <form action="/singup" method="POST">

                    <div class="col" align="center">

                        <div class="form-group">
                            <select name="cvu_tecnm" class="form-control" id="cvu_tecnm">
                                {{#each responsables }}
                                <option value="{{cvu_tecnm}}" required> {{nombre}} {{apellido1}} {{apellido2}} </option>
                                {{/each}}
                            </select>
                        </div>

                        <a href="integrantes/add"> Si el usuario no se encuentra registrado haga click aqui </a>
                        <br>

                        <div class="mt-5" align="left">
                            <div class="form-group">
                                <label for="username"> Nombre de usuario </label>
                                <input type="text" id="username" name="username" class="form-control"
                                    onkeypress="verificar(event)" required>
                            </div>

                            <div class="form-group">
                                <label for="password"> Contraseña </label>
                                <input type="password" id="password" name="password" class="form-control"
                                    title="Una contraseña válida es un conjuto de caracteres, donde cada uno consiste de una letra mayúscula o minúscula, o un dígito. La contraseña debe empezar con una letra y contener al menor un dígito"
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" onkeypress="verificar(event)"
                                    required>
                            </div>
                            <br>

                            <div align="center">
                                <h3>
                                    <small class="text-muted">
                                        Seleccione un rol para el integrante.
                                    </small>
                                </h3>
                            </div>

                            <div class="form-group" align="center">
                                <select name="rol_sistema" class="form-control">
                                    <option value="Administrador">Administrador</option>
                                    <option value="Responsable" Selected> Lider de proyecto</option>
                                </select>
                            </div>

                            <br><br>

                            <div class="form-group">
                                <button class="btn btn-outline-primary btn-block"> <i
                                        class="fas fa-user-alt"></i>&emsp;Registrar </button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    function verificar(event) {

        var x = event.charCode;
        if (x == 32) {
            event.preventDefault();


        }
    }



    window.onload = contraseña;

    function contraseña() {

       var a= document.getElementById("password");
        // paso 1 - pedir un número al usuario

        var abecedario = ["a", "A", "b", "B", "c", "C", "d", "D", "e", "E", "f", "F", "g", "G", "h", "H", "i", "I", "j", "J", "k", "K", "l", "L", "m", "M", "n", "N", "o", "O", "p", "P", "q", "Q", "r", "R", "s", "S", "t", "T", "u", "U", "v", "V", "w", "W", "x", "X", "y", "Y", "z", "Z", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];


        var numero = 10;
        var numeroAleatorio = 3;

        // paso 2 - escribir x caracteres
            var contraseña="";
        for (var i = 0; i < numero; i++) {
            numeroAleatorio = parseInt(Math.random() * abecedario.length);
            contraseña+=abecedario[numeroAleatorio]
            
        }
        console.log(contraseña);
        a.value=contraseña;
        // paso 3 - conseguir que cada caracter sea aleatorio.

        // paso 4 - tenemos x caracteres aleatorios
    }


</script>